:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

@import "normalize";
@import "fonts";
@import "mixins";
@import "variables";

body {
    font-family: $default-font;
    font-size: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

//////////////////////// НАЧАЛО блоки главной страницы ////////////////////////////

@import "blocks/main-page/header";
@import "blocks/main-page/home";
@import "blocks/main-page/skills";
@import "blocks/main-page/experience";
@import "blocks/main-page/education";
@import "blocks/main-page/services";
@import "blocks/main-page/portfolio";
@import "blocks/main-page/testimonials";
@import "blocks/main-page/companys";
@import "blocks/main-page/blogs";
@import "blocks/main-page/contact-info";

//////////////////////// КОНЕЦ блоки главной страницы ////////////////////////////