:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

@import "normalize";
@import "fonts";
@import "mixins";
@import "variables";

body {
    font-family: $default-font;
    font-size: 16px;
}
img {
    display: block;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

//////////////////////// НАЧАЛО блоки главной страницы ////////////////////////////

@import "blocks/main-page/header";
@import "blocks/main-page/home";
@import "blocks/main-page/skills";
@import "blocks/main-page/experience";
@import "blocks/main-page/education";
@import "blocks/main-page/services";
@import "blocks/main-page/portfolio";
@import "blocks/main-page/testimonials";
@import "blocks/main-page/companys";
@import "blocks/main-page/blogs";
@import "blocks/main-page/contact-info";
@import "blocks/main-page/main-footer";

//////////////////////// КОНЕЦ блоки главной страницы ////////////////////////////

//******************************************************************

//////////////////////// НАЧАЛО адаптаций ////////////////////////////

@media(max-width: 1200px) {
    .portfolio-images {
        justify-content: center;
    flex-wrap: wrap;
    }
    .two-first-images {
        flex-direction: column;
        align-items: flex-end;
    }
    .portfolio-four-img {
        max-width: 390px;
        align-self: flex-start;
        justify-content: flex-end;
    }
    
    .portfolio-img__big {
        align-self: start;
        margin: 12px;
    }
    .small-image-wrap {
        margin: 12px 10px;
    }
}
@media(max-width: 830px) {
    .two-last-images {
        flex-wrap: wrap;
    }
}

//////////////////////// КОНЕЦ адаптаций ////////////////////////////