.education {
    background-image: url(../img/main-page/education_bg_top.svg),url(../img/main-page/edu-gradient-bg.svg), url(../img/main-page/dots_bg.svg);
    background-repeat: no-repeat, repeat-x, repeat;
    background-size: 100%, auto,  auto;
    background-position: 100% 0, 100% bottom, 0 0;
    padding-top: 150px;
    padding-bottom: 140px;
}
.education-title {
    @include blocks-title;
}
.education-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    &__item {
        padding-left: 174px;
        margin-bottom: 50px;
        flex-basis: 490px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-image: url(../img/main-page/edu-icon.svg);
        background-repeat: no-repeat;
        background-position: 0 -16px;
    }
}
.education__item-title {
    order: 1;
    @include playfairReg;
    font-size: 18px;
    margin-top: 0;
    color: rgba(black, .4);
}
.education__item-year {
    @include robotoReg;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 11px;
}
.education__item-specialty {
    @include playfairReg;
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 22px;
}