.main {
    margin-top: -125px;
}
.home {
    position: relative;
    padding-top: 125px;
    background-image: url(../img/main-page/home_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-color: $main-color;
    &::after {
        content: "";
        width: 169px;
        height: 96px;
        position: absolute;
        bottom: -8%;
        left: 8%;
        z-index: 10;
        background-image: url(../img/main-page/leaf_header.svg);
        background-repeat: no-repeat;
    }
}
.home-list {
    @include list-reset;
    max-width: 1408px;
    margin: 0 auto;
}
.home-socials-and-pagination {
    max-width: 1408px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    position: relative;
}
.home-list__item > h2 {
    @include poppinsBold;
    padding-left: 200px;
    color: $white;
    font-size: 80px;
    line-height: 97px;
    max-width: 500px;
}
.home-socials {
    @include list-reset;
    font-size: 0;
}
.socials-item > a {
    display: block;
    height: 18px;
    width: 18px;
}
.socials-item:not(:last-of-type) > a {
    margin-bottom: 24px;
}
.socials-facebook {
    background-image: url(../img/socials-icons.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.socials-instagram {
    background-image: url(../img/socials-icons.svg);
    background-repeat: no-repeat;
    background-position: 0 -19px;
}
.socials-dribbble {
    background-image: url(../img/socials-icons.svg);
    background-repeat: no-repeat;
    background-position: 0 -38px;
}
.socials-behance {
    background-image: url(../img/socials-icons.svg);
    background-repeat: no-repeat;
    background-position: 0 -57px;
}
.home-list__pagination {
    align-self: flex-end;
    > .swiper-pagination {
        position: static;
        display: flex;
        align-items: baseline;
        line-height: 0;
        > .swiper-pagination-bullet {
            background: none;
            font-size: 18px;
            @include playfairBold;
            color: white;
            opacity: 1;
            margin-left: 10px;
            margin-right: 10px;
        }
        > .swiper-pagination-bullet-active {
            font-size: 60px;
            margin-right: 20px;
            @include playfairBold;
            color: white;
        }
    }
}

