.portfolio {
    margin-bottom: 160px;
}
.portfolio-title {
    @include blocks-title;
    margin-bottom: 71px;
}
.portfolio-images {
    display: flex;
    align-items: center;
}
.portfolio-img__big {
    flex-shrink: 0;
    width: 370px;
    height: 584px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin: 10px;
    > img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.small-image-wrap {
    flex-shrink: 0;
    width: 370px;
    overflow: hidden;
    height: 280px;
    border-radius: 8px;
    position: relative;
    margin: 12px 10px;
    > img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.portfolio-four-img {
    display: flex;
    flex-wrap: wrap;
}
.two-first-images {
    display: flex;
    flex-wrap: wrap;
}
.two-last-images {
    display: flex;
}