.testimonials {
    background-image: url(../img/main-page/testimonials_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54px;
    padding-bottom: 76px;
    position: relative;
    &::before {
        content: "";
        width: 75px;
        height: 124px;
        position: absolute;
        left: 8%;
        top: -5%;
        background-image: url(../img/main-page/dots_testimonials.svg);
        background-repeat: no-repeat;
    }
    &::after {
        content: "";
        width: 111px;
        height: 85px;
        position: absolute;
        right: 8%;
        bottom: -6%;
        background-image: url(../img/main-page/leaf_testimonials.svg);
        background-repeat: no-repeat;
    }
}
.testimonials-title {
    @include blocks-title;
    color: white;
    margin-bottom: 44px;
}
.testimonials-blockquote {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    &::before {
        content: "";
        display: block;
        width: 58px;
        height: 47px;
        background-image: url(../img/main-page/quotes.svg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    > img {
        display: block;
        border-radius: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 21px;
    }
}
.testimonials-review {
    font-size: 22px;
    line-height: 36px;
    color: white;
    margin-top: 30px;
    margin-bottom: 39px;
    > span {
        color: $turquoise;
    }
    &-author {
        font-style: normal;
        font-size: 22px;
        color: white;
    }
}
.testimonials-author-position {
    margin-top: 8px;
    color: rgba(white, .4);
    font-size: 18px;
}
.testimonials-slider {
    @include list-reset;
}
.testimonials-slider-pagination {
    margin-top: 2px;
    text-align: center;
}
.slider-pagination > .swiper-pagination-bullet {
    width: 11px;
    height: 6px;
    background-color: white;
    border-radius: 4px;
    opacity: .37;
    transition: .3s;
    margin-left: 2px;
    margin-right: 2px;
}
.slider-pagination > .swiper-pagination-bullet-active {
    width: 25px;
    height: 6px;
    background-color: white;
    border-radius: 4px;
    opacity: 1;
}